<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dónde comprar grifería Nobili | Encuentra tiendas y distribuidores oficiales</title>
  <meta name="description" content="Descubre dónde comprar grifería Nobili en tiendas y distribuidores autorizados. Encuentra puntos de venta cerca de ti o compra en línea productos de alta calidad para baños y cocinas.">
  <meta name="keywords"
    content="Dónde comprar grifería Nobili, tiendas Nobili, distribuidores Nobili, grifería Nobili en línea, puntos de venta Nobili, tiendas de grifería, compra grifería Nobili, grifos Nobili, grifería baños y cocinas.">
  <!--head-->
  <link href="ico/favicon.png" rel="shortcut icon">
  <link rel="stylesheet" href="/content/css/gotham.css">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/headerFooter.css">
  <link rel="stylesheet" href="/content/css/dondeComprar.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="w-100 dondeComprar column">
      <div class="rowCenter">
        <h1>DÓNDE COMPRAR</h1>
        <div class="bgContain iconDonde"></div>
      </div>
      <div class="accordionsContainer">
      	<!--provincia-->
        <div>
          <button class="accordion">
            <p><!--des--></p>
            <span>+</span>
          </button>
	  <div class="panel column">
          	<!--laslocalidades-->
	  </div>
        </div>
        <!--finprovincia-->
        </div>
      </div>
    </section>

  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/modelo.js"></script>
</body>

</html>

<!--localidad-->
  <div class="column panelContent">
    <p><!--des--></p>
    <ul class="column listPanel">
    	<!--lasdirecciones-->
    </ul>
  </div>
<!--finlocalidad-->

<!--direccion-->
<li>
  <p><!--nom-->: <a href="<!--url-->" target="_blank"><!--des--></a></p>
</li>
<!--findireccion-->
