<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link href="ico/favicon.png" rel="shortcut icon">
  <link rel="stylesheet" href="/content/css/gotham.css">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/headerFooter.css">
  <link rel="stylesheet" href="/content/css/dondeComprar.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="w-100 dondeComprar column">
      <div class="rowCenter">
        <h1>DÓNDE COMPRAR</h1>
        <div class="bgContain iconDonde"></div>
      </div>
      <div class="accordionsContainer">
        <div>
          <button class="accordion">
            <p>CAPITAL FEDERAL</p>
            <span>+</span>
          </button>
          <div class="panel column">
            <div class="column panelContent">
              <p>Capital Federal</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Avenida Corrientes 1500, San Nicolás</a>
                </li>
                <li>
                  <a href="#">Calle Florida 750, Microcentro</a>
                </li>
                <li>
                  <a href="#">Avenida del Libertador 2200, Palermo</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <button class="accordion">
            <p>PROVINCIA DE BUENOS AIRES</p>
            <span>+</span>
          </button>
          <div class="panel column">
            <div class="column panelContent">
              <p>San Isidro</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Avenida del Libertador 16000</a>
                </li>
                <li>
                  <a href="#">Calle Primera Junta 500</a>
                </li>
                <li>
                  <a href="#">Calle 9 de Julio 200</a>
                </li>
              </ul>
            </div>
            <div class="column panelContent">
              <p>Lomas de Zamora</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Calle Hipólito Yrigoyen 9000</a>
                </li>
                <li>
                  <a href="#">Calle Manuel Castro 400</a>
                </li>
                <li>
                  <a href="#">Calle Laprida 800</a>
                </li>
              </ul>
            </div>
            <div class="column panelContent">
              <p>Quilmes</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Avenida Mitre 500</a>
                </li>
                <li>
                  <a href="#">Calle Rivadavia 200</a>
                </li>
                <li>
                  <a href="#">Calle Lavalle 300</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <button class="accordion">
            <p>CÓRDOBA</p>
            <span>+</span>
          </button>
          <div class="panel column">
            <div class="column panelContent">
              <p>Ciudad de Córdoba</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Córdoba 1500</a>
                </li>
                <li>
                  <a href="#">Córdoba 2300</a>
                </li>
                <li>
                  <a href="#">Córdoba 4300</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <button class="accordion">
            <p>SANTE FÉ</p>
            <span>+</span>
          </button>
          <div class="panel column">
            <div class="column panelContent">
              <p>Ciudad de Santa Fé</p>
              <ul class="column listPanel">
                <li>
                  <a href="#">Santa Fé 1500</a>
                </li>
                <li>
                  <a href="#">Santa Fé 2300</a>
                </li>
                <li>
                  <a href="#">Santa Fé 4300</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/modelo.js"></script>
</body>

</html>