<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <!--tit_sec--> - Diseño e Innovación en Grifería de
    <!--tipdes--> | Nobili
  </title>
  <meta name="description"
    content="Descubre <!--tit_sec--> de Nobili. Grifería premium que combina diseño, innovación y calidad para mejorar tu <!--tipdes-->. ¡Explora más aquí!">
  <meta name="keywords"
    content="<!--tit_sec-->, grifería de alta calidad, grifos para baños, grifos para cocinas, diseño de grifería, grifos modernos, grifería Nobili, productos de grifería, innovación en grifería.">
  <!--head-->
  <link href="/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/content/css/gotham.css">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/headerFooter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/empresa.css">

</head>

<body>
  <header id="header" class="header justifyAlignCenter">
    <div id="openNav" class="hamburger bgContain"></div>
    <a id="logoNobili" href="#" class="logoNobili bgContain"></a>
  </header>
  <nav class="nav">
    <div class="maxWidth">
      <div class="closeNav" id="closeNav"></div>
      <ul class="navMenu">
        <li><a href="/" class="navLink">INICIO</a></li>
        <li><a href="/productos.html" class="navLink">PRODUCTOS</a></li>
        <ul class="miniMenu column">
          <li><a href="/productos.html?tipo=bano" class="navLink">BAÑO</a></li>
          <li><a href="/productos.html?tipo=cocina" class="navLink">COCINA</a></li>
        </ul>
        <li><a href="https://www.flipsnack.com/9ABE9FAF8D6/cat-logo-nobili/full-view.html" target="_blank"
            class="navLink">CATÁLOGO</a></li>
        <li class="d-none"><a href="/donde-comprar.html" class="navLink">DÓNDE COMPRAR</a></li>
      </ul>
    </div>
  </nav>
  <!--header-->
  <main class="w-100 bg-white">
    <section class="heroEmpresa bgCover column"
      style="background-image: url('/content/images/empresa/chisiamo_header.webp')">
      <div>
        <h1>EXCELENCIA MADE IN ITALY</h1>
        <p>VALORES Y ESTRATEGIAS</p>
      </div>
    </section>
    <section class="mainSection columnAlignCenter">
      <p class="text-center">
        Tecnología y calidad son los pilares sobre los que se basan todas nuestras elecciones, desde los años 50 hasta
        hoy. Fundamentos por los que cada día nos esforzamos en construir productos dedicados al baño y la cocina,
        máxima expresión de la vanguardia tecnológica y el estilo italiano, en total respeto por el medio ambiente.
      </p>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/empresa/fabrica.webp" alt="Fabrica Ideal">
        <h2>FÁBRICA IDEAL</h2>
        <p>El Nobili Technology Centre, la unidad de producción de Suno, en la provincia de Novara, es el complejo más
          racional y eficiente de todo el sector, concebido sobre la base de un diseño ideado para admitir un proceso de
          crecimiento constante y ofrecer al mercado un estándar de calidad extremadamente alto con un impacto
          medioambiental muy bajo.</p>
      </div>
      <div class="caracteristica">
        <div>
          <video src="/content/images/home/corporate.mp4"></video>
          <button id="reproducirVideo" class="reproducirVideo">REPRODUCIR</button>
        </div>
        <h2>REALIDAD ÚNICA</h2>
        <p>Como única empresa europea del sector con un ciclo productivo totalmente integrado, se encuentra en lo más
          alto de su categoría en cuanto a investigación y, sobre todo, a nivel de evolución tecnológica de los equipos
          de producción. 452 centros de trabajo repartidos en una superficie de 88 000 metros cuadrados, para un total
          de 2,8 millones de artículos vendidos al año.</p>
      </div>
      <div id="videoModal" class="modal">
        <div class="modal-content">
          <span id="closeModalBtn" class="close">&times;</span>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NXr3y2kN3GA?si=OWcqPOkk3TuT_sA2"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/empresa/chisiamo_albertogigi.webp" alt="Fabrica Ideal">
        <h2>ALBERTO Y PIERLUIGI NOBILI</h2>
        <p>Alberto y Pierluigi siempre han tenido un único objetivo: hacer crecer la empresa familiar a través de la
          toma de decisiones innovadoras y éticamente correctas, consistentes en invertir en Italia manteniendo el
          control de la cadena productiva, dedicar recursos a la evolución constante de las plantas aumentando la
          capacidad de producción y prestar la máxima atención a la sostenibilidad.</p>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/empresa/chisiamo_madeinitaly.webp" alt="Fabrica Ideal">
        <h2>ORGULLO ITALIANO</h2>
        <p>En lugar de deslocalizar, Nobili invierte en Italia destinando cada año una cantidad ingente de recursos para
          perfeccionar la disposición del proceso productivo y adoptar las tecnologías más avanzadas: el éxito es un
          incentivo para aumentar el compromiso renovando cada día los esfuerzos para ofrecer al mercado la excelencia
          absoluta.</p>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/empresa/companyprofile.webp" alt="Fabrica Ideal">
        <h2>PERFIL INSTITUCIONAL</h2>
        <p>Un proyecto comunicativo con una gran personalidad, estilísticamente ordenado y elegante, acompaña e
          involucra al lector en un recorrido ilustrado a través de precisos contenidos fotográficos y textuales: el
          Perfil Institucional habla de la identidad de Nobili redescubriendo su herencia histórica, disfrutando del
          liderazgo del presente e imaginando su futuro.</p>
      </div>
      <div class="swiper">
        <div id="swiperWrapper" class="swiper-wrapper"></div>
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="descargarPerfil columnAlignCenter">
        <p class="text-center">
          Un diseño puro y minimalista, símbolo de perfección, ideal para una empresa líder en innovación tecnológica:
          empezando por su formato sobredimensionado (42 x 28 cm), que duplica el tamaño de la documentación estándar,
          hasta las técnicas de impresión en papel natural, limpias y esenciales, diseñadas para evitar distracciones y
          centrar la atención en el contenido.
        </p>
        <button class="descargaPerfil">DESCARGA EL PERFIL</button>
      </div>
    </section>
    </section>
  </main>
  <!--footer-->
  <footer id="nobili">
    <div class="footerTop column">
      <div class="logosFooter">
        <img src="/content/images/header-footer/logo-nobili-blanco.svg" alt="Logo Nobili Blanco">
        <p>NOBILI ARGENTINA</p>
      </div>
      <div>
        <ul id="footerMenu" class="footerMenu column"></ul>
      </div>
      <div class="footerContacto">
        <a href="mailto:consultas@nobili.com.ar">consultas@nobili.com.ar</a>
      </div>
    </div>
    <div class="footerRedesContainer d-none">
      <div id="redesFooter" class="redesFooter rowCenter"></div>
    </div>
  </footer>
  <!--finbody-->
  <script src="/content/js/main.js"></script>
  <script src="/content/js/headerFooter.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/empresa.js"></script>
</body>