<footer id="nobili">
  <div class="footerTop column">
    <div class="logosFooter">
      <img src="/content/images/header-footer/logo-nobili-blanco.svg" alt="Logo Nobili Blanco">
      <p>NOBILI ARGENTINA</p>
    </div>
    <div>
      <ul id="footerMenu" class="footerMenu column"></ul>
    </div>
    <div class="footerContacto">
      <a href="mailto:consultas@nobili.com.ar">consultas@nobili.com.ar</a>
    </div>
  </div>
  <div class="footerRedesContainer d-none">
    <div id="redesFooter" class="redesFooter rowCenter"></div>
  </div>
</footer>