<footer id="nobili">
  <div class="footerTop column content">
    <div class="logosFooter">
      <img src="/content/images/Nobili-Logo.png" alt="Nobili Logo">
      <img src="/content/images/Vasser-Logo.png" alt="Vasser Logo">
    </div>
    <div>
      <ul id="footerMenu" class="footerMenu column"></ul>
    </div>
  </div>
  <div class="w-100 text-white">
    <div class="accordionItem">
      <div class="accordionHeader" onclick="toggleAccordion(this)">
        <p>DATOS EMPRESARIALES</p>
        <span class="accordionIcon">+</span>
      </div>
      <div class="accordionContent">
        <p>
          CARLO NOBILI SPA RUBINETTERIE VIA LAGONE 32 - 28021 BORGOMANERO (NO)
        </p>
        <p>
          CAPITALE SOCIALE: € 30.012.000 REA: NO - 114950 DELLA CCIAA DI NOVARA C.F. E P.IVA: 00260820030
        </p>
        <p>
          OBBLIGHI INFORMATIVI PER LE EROGAZIONI PUBBLICHE: GLI AIUTI DI STATO E GLI AIUTI “DE MINIMIS” RICEVUTI SONO
          CONTENUTI NEL REGISTRO NAZIONALE DEGLI AIUTI DI STATO DI CUI ALL’ART. 52 DL. N. 234 DEL 2012 PRESENTI SUL
          SITO
        </p>
        <p>WWW.RNA.GOV.IT</p>
      </div>
    </div>
  </div>

  <div class="footerRedesContainer">
    <div id="redesFooter" class="redesFooter rowCenter"></div>
  </div>
</footer>