<footer id="nobili">
  <div class="footerTop column">
    <div class="logosFooter">
      <img src="/content/images/header-footer/logo-nobili-blanco.svg" alt="Logo Nobili Blanco" width="144" height="28.5">
      <p>NOBILI ARGENTINA</p>
    </div>
    <div>
      <ul id="footerMenu" class="footerMenu column"></ul>
    </div>
    <div class="footerContacto">
      <a href="mailto:consultas@nobili.com.ar">consultas@nobili.com.ar</a>
      <a href="tel:08007778277">0800 777 8277</a>
    </div>
  </div>
  <div class="footerRedesContainer d-none">
    <div id="redesFooter" class="redesFooter rowCenter"></div>
  </div>
  <div class="derechos">
    <a href="https://www.benteveo.com/" target="_blank" class="font-weight-bold text-center text-white">© 2025 Benteveo</a>
    <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
  </div>
</footer>