<header id="header" class="header justifyAlignCenter">
  <div id="openNav" class="hamburger bgContain"></div>
  <a id="logoNobili" href="#" class="logoNobili bgContain"></a>
</header>
<nav class="nav">
  <div class="maxWidth">
    <div class="closeNav" id="closeNav"></div>
    <ul class="navMenu">
      <li><a href="/" class="navLink">INICIO</a></li>
      <li><a href="/productos.html" class="navLink">PRODUCTOS</a></li>
      <ul class="miniMenu column">
        <li><a href="/productos.html?tipo=bano" class="navLink">BAÑO</a></li>
        <li><a href="/productos.html?tipo=cocina" class="navLink">COCINA</a></li>
      </ul>
      <li><a href="https://www.flipsnack.com/9ABE9FAF8D6/cat-logo-nobili/full-view.html" target="_blank" class="navLink">CATÁLOGO</a></li>
      <li class="d-none"><a href="/donde-comprar.html" class="navLink">DÓNDE COMPRAR</a></li>
    </ul>
  </div>
</nav>
