<header id="header" class="header justifyAlignCenter pa-1">
  <div id="openNav" class="hamburger bgContain"></div>
  <img src="/content/images/header-footer/logo-nobili-blanco.webp" alt="Logo Nobili Blanco" />
</header>
<nav class="nav">
  <div class="maxWidth">
    <div class="closeNav" id="closeNav"></div>
    <ul class="navMenu">
      <li><a href="#" class="navLink">PRODUCTOS</a></li>
      <ul class="miniMenu column">
        <li><a href="#" class="navLink">BAÑO</a></li>
        <li><a href="#" class="navLink">COCINA</a></li>
      </ul>
    </ul>
  </div>
</nav>