<header id="header" class="header justifyAlignCenter">
  <div id="openNav" class="hamburger bgContain"></div>
  <a id="logoNobili" href="https://nobili.com.ar/" class="logoNobili bgContain" aria-label="Página principal de Nobili"></a>
</header>
<nav class="nav">
  <div class="maxWidth">
    <div class="closeNav" id="closeNav"></div>
    <ul class="navMenu">
      <li><a href="/" class="navLink">INICIO</a></li>
      <li><a href="/productos.html" class="navLink">PRODUCTOS</a></li>
      <li><a href="/empresa.html" class="navLink">EMPRESA</a></li>
      <li class="navAccordion">
        <button class="navLink navAccordionToggle">VANGUARDIA <span class="navAccordionArrow"></span></button>
        <ul class="navAccordionMenu">
          <li><a href="/vanguardia.html" class="navLink">TECHNOLOGY INSIDE</a></li>
          <li><a href="/widd.html" class="navLink">WIDD®</a></li>
          <li><a href="/widd-2020.html" class="navLink">WIDD® 2020</a></li>
          <li><a href="/thermotech.html" class="navLink">THERMOTECH®</a></li>
        </ul>
      </li>
      <li><a href="https://nobili.com.ar/catalogo-nobili-2025.pdf" target="_blank" class="navLink">CATÁLOGO</a></li>
      <li><a href="/donde-comprar.html" class="navLink">DÓNDE COMPRAR</a></li>
    </ul>
  </div>
</nav>
