<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Grifería de Alta Calidad | Vasser - Nobili - Innovación y Estilo en Baños y Cocinas</title>
  <meta name="description" content="Nobili ofrece grifería premium que combina diseño innovador y funcionalidad para baños y cocinas. Descubre nuestra amplia gama de productos que destacan por su durabilidad y estilo, elevando el estándar en cada espacio.">
  <meta name="keywords"
    content="grifería de alta calidad, grifos de baño, grifos de cocina, diseño de grifería, grifería premium, Vasser, Nobili, innovación en baños y cocinas">
  <!--head-->
  <link rel="stylesheet" href="/content/css/home.css">
</head>

<body>
  <!--header-->
  <main class="w-100 text-white">
    <section id="nobili" class="w-100 h-100vh columnCenter">
      <video autoplay muted loop playsinline id="background-video" class="heroBg">
        <source src="/content/images/home/corporate.mp4" type="video/mp4">
        Tu navegador no soporta videos en HTML5.
      </video>
      <div class="content hero column hidden">
        <h1 class="column">EXCELENCIA <span>MADE IN ITALY</span></h1>
        <p>
          Más de 60 años ofreciendo la máxima expresión de la vanguardia tecnológica y el estilo italiano en total
          respeto por el medio ambiente.
        </p>
        <div class="masInfo rowCenter d-none">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
      <div class="scroll"><b>SCROLL</b><span></span></div>
    </section>
    <section id="nobili" class="w-100 h-100vh section1 columnCenter">
      <div class="content column reversed hidden">
        <h2 class="column">REBUSCADA <span>SIMPLICIDAD</span></h2>
        <p>
          Nuevas proporciones capaces de revertir la lógica más tradicional. Sole representa la síntesis perfecta entre
          tecnología y estilo, una combinación capaz de dar vida a un mezclador único, que nunca aburre gracias a su
          extrema esencialidad: complejo de construir, sencillo de vivir.
        </p>
        <div class="masInfo rowCenter d-none">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
    <section id="nobili" class="w-100 h-100vh section2 columnCenter">
      <div class="content column hidden">
        <h2 class="column">MDW 2024 <span>NOBILI PRESENTA</span> RESPIRO</h2>
        <p>
          La nueva serie de Respiro, la última maravilla de Nobili de Jesé Medina-Suárez.
        </p>
        <div class="masInfo rowCenter d-none">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
    <section id="nobili" class="w-100 h-100vh section3 columnCenter">
      <div class="imgTecnologiaAbsoluta"></div>
      <div class="content column reversed hidden">
        <h2 class="column">TECNOLOGÍA<span>ABSOLUTA</span></h2>
        <p>
          De la excelencia de nuestros laboratorios de investigación y desarrollo, nace el cartucho de inmersión total y
          movimiento axial Nobili Widd®, con un diámetro de 34 mm, capaz de revolucionar la estructura de los
          mezcladores tradicionales al eliminar el bloque del cartucho lateral y crear una línea extremadamente limpia y
          estilizada.
        </p>
        <div class="masInfo rowCenter d-none">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
</body>

</html>