<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link href="ico/favicon.png" rel="shortcut icon">
  <link rel="stylesheet" href="/content/css/gotham.css">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/headerFooter.css">
  <link rel="stylesheet" href="/content/css/home.css">
</head>

<body>
  <header class="header justifyAlignCenter pa-1">
    <div id="openNav" class="hamburger bgContain"></div>
    <img src="/content/images/Nobili-Logo.png" alt="Nobili Logo" />
  </header>
  <nav class="nav">
    <div class="maxWidth">
      <div class="closeNav" id="closeNav"></div>
      <ul class="navMenu">
        <li><a href="#">PRODUCTOS</a></li>
        <ul class="miniMenu column">
          <li><a href="#">BAÑO</a></li>
          <li><a href="#">COCINA</a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <main class="w-100 text-white">
    <section id="nobili" class="w-100 h-100vh heroBg columnCenter">
      <div class="content hero column hidden">
        <h1 class="column">EXCELENCIA <span>MADE IN ITALY</span></h1>
        <p>
          Más de 60 años ofreciendo la máxima expresión de la vanguardia tecnológica y el estilo italiano en total
          respeto por el medio ambiente.
        </p>
        <div class="masInfo rowCenter">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
      <div class="scroll"><b>SCROLL</b><span></span></div>
    </section>
    <section id="nobili" class="w-100 h-100vh section1 columnCenter">
      <div class="content column reversed hidden">
        <h2 class="column">REBUSCADA <span>SIMPLICIDAD</span></h2>
        <p>
          Nuevas proporciones capaces de revertir la lógica más tradicional. Sole representa la síntesis perfecta entre
          tecnología y estilo, una combinación capaz de dar vida a un mezclador único, que nunca aburre gracias a su
          extrema esencialidad: complejo de construir, sencillo de vivir.
        </p>
        <div class="masInfo rowCenter">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
    <section id="nobili" class="w-100 h-100vh section2 columnCenter">
      <div class="content column hidden">
        <h2 class="column">MDW 2024 <span>NOBILI PRESENTA</span> RESPIRO</h2>
        <p>
          La nueva serie de Respiro, la última maravilla de Nobili de Jesé Medina-Suárez.
        </p>
        <div class="masInfo rowCenter">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
    <section id="nobili" class="w-100 h-100vh section3 columnCenter">
      <div class="content column reversed hidden">
        <h2 class="column">TECNOLOGÍA<span>ABSOLUTA</span></h2>
        <p>
          De la excelencia de nuestros laboratorios de investigación y desarrollo, nace el cartucho de inmersión total y
          movimiento axial Nobili Widd®, con un diámetro de 34 mm, capaz de revolucionar la estructura de los
          mezcladores tradicionales al eliminar el bloque del cartucho lateral y crear una línea extremadamente limpia y
          estilizada.
        </p>
        <div class="masInfo rowCenter">
          <p class="w-auto">MÁS INFORMACIÓN</p>
          <div class="btnInfo bgContain"></div>
        </div>
      </div>
    </section>
  </main>

  <footer id="nobili">
    <div class="footerTop column content">
      <div class="logosFooter">
        <img src="/content/images/Nobili-Logo.png" alt="Nobili Logo">
        <img src="/content/images/Vasser-Logo.png" alt="Vasser Logo">
      </div>
      <div>
        <ul id="footerMenu" class="footerMenu column"></ul>
      </div>
    </div>
    <div class="w-100 text-white">
      <div class="accordionItem">
        <div class="accordionHeader" onclick="toggleAccordion(this)">
          <p>DATOS EMPRESARIALES</p>
          <span class="accordionIcon">+</span>
        </div>
        <div class="accordionContent">
          <p>
            CARLO NOBILI SPA RUBINETTERIE VIA LAGONE 32 - 28021 BORGOMANERO (NO)
          </p>
          <p>
            CAPITALE SOCIALE: € 30.012.000 REA: NO - 114950 DELLA CCIAA DI NOVARA C.F. E P.IVA: 00260820030
          </p>
          <p>
            OBBLIGHI INFORMATIVI PER LE EROGAZIONI PUBBLICHE: GLI AIUTI DI STATO E GLI AIUTI “DE MINIMIS” RICEVUTI SONO
            CONTENUTI NEL REGISTRO NAZIONALE DEGLI AIUTI DI STATO DI CUI ALL’ART. 52 DL. N. 234 DEL 2012 PRESENTI SUL
            SITO
          </p>
          <p>WWW.RNA.GOV.IT</p>
        </div>
      </div>
    </div>

    <div class="footerRedesContainer">
      <div id="redesFooter" class="redesFooter rowCenter"></div>
    </div>
  </footer>
  <!--finbody-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
  <script src="/content/js/main.js"></script>
  <script src="/content/js/headerFooter.js"></script>
</body>

</html>