<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evento Vasser</title>
  <link href="ico/favicon.png" rel="shortcut icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/landingEvento.css">
</head>

<body>
  <header class="columnAlignCenter">
    <img src="/content/images/landingEvento/Logo-Vasser-Evento.png" alt="Logo Vasser" />
  </header>
  <main class="column">
    <section class="invitacionForm columnAlignCenter">
      <div class="invitacion columnAlignCenter">
        <p class="intro textoDorado">
          <span class="vasser">VASSER</span> tiene el honor de invitarle a un evento para descubrir lo extraordinario.
        </p>
        <div class="fechaEvento bordeDorado">
          <p>
            <span>
              Miércoles 9 de Octubre
            </span>
            19:00HS BUENOS AIRES
          </p>
        </div>
      </div>
      <form class="columnAlignCenter" id="formRegistrate">
        <h2 class="textoDorado">REGISTRATE</h2>
        <p>Completá los datos de registro y participá del evento</p>
        <div>
          <input id="nombre" placeholder="Nombre" type="text">
          <div id="errorNombre" class="error d-none">
            <div class="errorIcon"></div>
            <p id="errorTextoNombre"></p>
          </div>
        </div>
        <div>
          <input id="apellido" placeholder="Apellido" type="text">
          <div id="errorApellido" class="error d-none">
            <div class="errorIcon"></div>
            <p id="errorTextoApellido"></p>
          </div>
        </div>
        <div>
          <input class="telefono" id="telefono" placeholder="Teléfono de WhatsApp" type="number">
          <div id="errorTelefono" class="error d-none">
            <div class="errorIcon"></div>
            <p id="errorTextoTelefono"></p>
          </div>
        </div>
        <div>
          <input id="email" placeholder="Correo electrónico" type="email" autocomplete="off">
          <div id="errorEmail" class="error d-none">
            <div class="errorIcon"></div>
            <p id="errorTextoEmail"></p>
          </div>
        </div>
        <button type="submit" id="submitButton">
          <span class="textoDorado">REGISTRARME</span>
        </button>
      </form>

    </section>
    <img class="lineaDorada" src="/content/images/landingEvento/bg-dorado.png" alt="Linea Dorada">
    <section class="videoNoPierdas">
      <video src="/content/images/landingEvento/Video-Vasser.mp4" autoplay muted></video>
      <div class="noTePierdas columnAlignCenter">
        <p class="noTePierdasIntro textoDorado">No te pierdas de este evento de VASSER</p>
        <div class="datosEvento columnAlignCenter bordeDorado">
          <div>
            <p class="datosBold">9 de Octubre de 2024</p>
            <p class="datosBold">19:00hs</p>
          </div>
          <div>
            <p class="datosBold">TE ESPERAMOS EN:</p>
            <p>HOTEL FAENA</p>
          </div>
          <div>
            <p class="datosBold">Dirección:</p>
            <p>Petrona Eyle 430, Ciudad Autónoma de Buenos Aires</p>
          </div>
        </div>
      </div>
    </section>
    <img class="lineaDorada" src="/content/images/landingEvento/bg-dorado.png" alt="Linea Dorada">
    <section class="direccionMaps columnAlignCenter">
      <img class="logoVasserMaps" src="/content/images/landingEvento/Logo-Vasser-Evento.png" alt="Logo Vasser" />
      <div class="direccion bordeDorado">
        <p>9 de Octubre de 2024 - 19:00hs</p>
        <p>HOTEL FAENA - Petrona Eyle 430, Ciudad Autónoma de Buenos Aires</p>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.58679949499!2d-58.36438242367091!3d-34.61460867295026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d76d5e5f9b%3A0x20714491e460672d!2sPetrona%20Eyle%20430%2C%20C1107%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1725465677575!5m2!1ses-419!2sar"
        width="100%" height="410" style="border:10px solid white; border-radius: 8px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <footer>
    <p>
      © 2024 DESARROLLADO POR <span>BENTEVEO AGENCY</span>
    </p>
  </footer>
  <script src="/content/js/landingEvento.js"></script>
</body>

</html>