<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link href="ico/favicon.png" rel="shortcut icon">
  <link rel="stylesheet" href="/content/css/gotham.css">
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/headerFooter.css">
  <link rel="stylesheet" href="/content/css/lineaProducto.css">
</head>

<body>
  <!--header-->
  <header id="header" class="header justifyAlignCenter pa-1">
    <div id="openNav" class="hamburger bgContain"></div>
    <a href="#" class="logoNobili bgContain"></a>
  </header>
  <nav class="nav">
    <div class="maxWidth">
      <div class="closeNav" id="closeNav"></div>
      <ul class="navMenu">
        <li><a href="#" class="navLink">PRODUCTOS</a></li>
        <ul class="miniMenu column">
          <li><a href="#" class="navLink">BAÑO</a></li>
          <li><a href="#" class="navLink">COCINA</a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <main class="w-100 bg-white">
    <section class="heroLineaProducto column">
      <a href="#">BAÑO</a>
      <h1>THE BEGINNING AND THE FUTURE</h1>
      <p>ABC</p>
    </section>
    <section id="opcionesModelos" class="modelos columnAlignCenter">
      <p class="text-center text-black">
        Despertar lentamente, con la suave luz de la mañana, en el abrazo de una refrescante ducha. Un saludo al nuevo
        día en un velero, seducido por el aroma del mar, arrullado por la brisa hacia el infinito. Bienestar interior
        totalmente respetuoso con el medio ambiente: el cartucho de inmersión Nobili Widd® es garantía de absoluta
        fiabilidad y máxima sostenibilidad.
      </p>
      <div class="opcionesModelos">
        <article class="modelo column">
          <img src="/content/images/lineaProducto/grifoEjemplo.png" alt="Grifo Ejemplo">
          <div class="detalle">
            <p>ABH87118/1CR</p>
            <p>Lavabo, monomando con ahorro de agua y energía</p>
            <div class="detalleColor rowCenter">
              <img src="/content/images/lineaProducto/cromoEjemplo.png" alt="">
              <p>Cromo brillo</p>
            </div>
          </div>
        </article>
        <article class="modelo column">
          <img src="/content/images/lineaProducto/grifoEjemplo.png" alt="Grifo Ejemplo">
          <div class="detalle">
            <p>ABH87118/1CR</p>
            <p>Lavabo, monomando con ahorro de agua y energía</p>
            <div class="detalleColor rowCenter">
              <img src="/content/images/lineaProducto/cromoEjemplo.png" alt="">
              <p>Cromo brillo</p>
            </div>
          </div>
        </article>
      </div>
      <button class="todosModelos">TODOS LOS MODELOS</button>
      <div class="containerProductos">
        <img id="imagenProducto" class="imagenProducto" src="/content/images/lineaProducto/grifoColor1.png" alt="">
        <div class="opcionesColores">
          <div class="circuloColor" data-color="Cromo brillo" data-image="/content/images/lineaProducto/grifoColor1.png" style="background-color: #dcdcdc;"></div>
          <div class="circuloColor" data-color="Negro mate" data-image="/content/images/lineaProducto/grifoColor2.png" style="background-color: #333;"></div>
        </div>
        <p id="colorName">Cromo brillo</p>
      </div>
      // SWIPER
      <div class="caracteristica">
        <h2>DEDICADO AL PLANETA</h2>
        <p>
          La era del máximo ahorro y respeto medioambiental: Abc es capaz de optimizar los recursos del planeta,
          ayudando al consumidor a ahorrar agua y energía a diario al abrir el suministro con agua fría, evitando así el
          encendido involuntario de la caldera y la consiguiente emisión de humos de combustión a la atmósfera.
        </p>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/lineaProducto/caracteristicaEjemplo1.png" alt="">
        <h2>UN CARTUCHO CON GARANTÍA DE 20 AÑOS</h2>
        <p>
          El cartucho de inmersión total Nobili Widd® ha sido concebido, diseñado y fabricado en el Nobili Technology
          Centre. En él, el agua fluye externamente a su perfil, para no depositar cal en su interior y reducir el
          desgaste mecánico. Estamos tan seguros de su fiabilidad, que la garantizamos por un periodo de hasta 20 años.
        </p>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/lineaProducto/caracteristicaEjemplo2.png" alt="">
        <h2>AIREADOR NEOPERL® CON CAUDAL LIMITADO</h2>
        <p>
          Excelente protección contra la cal, máxima fiabilidad a lo largo del tiempo y un chorro con cuerpo incluso en
          condiciones de flujo poco óptimas: Nobili elige la calidad y la sostenibilidad del aireador Neoperl® Cascade®
          con un caudal limitado a 5 litros por minuto, la forma más fácil y rápida de ayudar a proteger el planeta.
        </p>
      </div>
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/content/images/lineaProducto/caracteristicaEjemplo3.png" alt="">
        <h2>DESAGÜE SNAP DE ALTO RENDIMIENTO</h2>
        <p>
          El desagüe Snap está dotado de unas canaladuras que permiten un bloqueo antidesenroscado (en los desagües
          tradicionales, el vórtice creado por el agua tiende a desenroscar la contratuerca), se puede ajustar con un
          solo movimiento sin necesidad de utilizar herramientas, es antivandálico (no se puede extraer) y antivuelco,
          gracias a unas aletas más profundas que las estándar.
        </p>
      </div>
      <img class="grifosNobili" src="/content/images/lineaProducto/griferias-nobili.png" alt="">
      <div class="caracteristica">
        <h2>MADE IN NOBILI</h2>
        <p>
          Abc nace del procesamiento de bloques de latón dentro del avanzado departamento de fundición a baja presión del Nobili Technology Centre, el complejo más eficiente de todo el sector, concebido para admitir un crecimiento constante y ofrecer al mercado un estándar de alta calidad con un impacto medioambiental muy bajo.
        </p>
        <a class="verModelos" href="#opcionesModelos">VER TODOS LOS MODELOS</a>
      </div>
    </section>
  </main>
  <!--footer-->
  <footer id="nobili">
    <div class="footerTop column content">
      <div class="logosFooter">
        <img src="/content/images/header-footer/logo-nobili-blanco.webp" alt="Logo Nobili Blanco">
        <img src="/content/images/header-footer/logo-vasser.svg" alt="Vasser Logo">
      </div>
      <div>
        <ul id="footerMenu" class="footerMenu column"></ul>
      </div>
    </div>
    <div class="w-100 text-white">
      <div class="accordionItem">
        <div class="accordionHeader" onclick="toggleAccordion(this)">
          <p>DATOS EMPRESARIALES</p>
          <span class="accordionIcon">+</span>
        </div>
        <div class="accordionContent">
          <p>
            CARLO NOBILI SPA RUBINETTERIE VIA LAGONE 32 - 28021 BORGOMANERO (NO)
          </p>
          <p>
            CAPITALE SOCIALE: € 30.012.000 REA: NO - 114950 DELLA CCIAA DI NOVARA C.F. E P.IVA: 00260820030
          </p>
          <p>
            OBBLIGHI INFORMATIVI PER LE EROGAZIONI PUBBLICHE: GLI AIUTI DI STATO E GLI AIUTI “DE MINIMIS” RICEVUTI SONO
            CONTENUTI NEL REGISTRO NAZIONALE DEGLI AIUTI DI STATO DI CUI ALL’ART. 52 DL. N. 234 DEL 2012 PRESENTI SUL
            SITO
          </p>
          <p>WWW.RNA.GOV.IT</p>
        </div>
      </div>
    </div>

    <div class="footerRedesContainer">
      <div id="redesFooter" class="redesFooter rowCenter"></div>
    </div>
  </footer>
  <!--finbody-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
  <script src="/content/js/main.js"></script>
  <script src="/content/js/headerFooter.js"></script>
  <script src="/content/js/lineaProducto.js"></script>
</body>

</html>