<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link rel="stylesheet" href="/content/css/modelo.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="modelo">
      <div id="grifoPrincipal" class="grifoMuestra">
        <img src="/content/images/modelo/grifo-ejemplo-brillo.png" alt="Grifo Muestra">
      </div>
      <div class="muestraInfo column">
        <article>
          <div class="headMuestra column">
            <p>BAÑO, SEVEN</p>
            <h1>SEE124118/1CR</h1>
          </div>
          <img id="grifoPrincipalMobile" class="w-100 grifoMuestraMobile"
            src="/content/images/modelo/grifo-ejemplo-brillo.png" alt="Grifo Muestra">
          <div class="acabado">
            <div class="nombre column">
              <p>Acabado</p>
              <p id="nombreAcabado">Cromo brillo</p>
            </div>
            <div class="opcionesColores">
              <div class="bordeColor" data-color="Cromo brillo"
                data-image="/content/images/modelo/grifo-ejemplo-brillo.png" data-selected="true">
                <div class="circuloColor"
                  style="background-image: url('/content/images/lineaProducto/opcionColor1.png');">
                </div>
              </div>
              <div class="bordeColor" data-color="Negro mate"
                data-image="/content/images/modelo/grifo-ejemplo-negro.png">
                <div class="circuloColor"
                  style="background-image: url('/content/images/lineaProducto/opcionColor2.png');">
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="accordionsContainer">
          <div>
            <button class="accordion">
              <p>LAVABO, MONOMANDO DE AHORRO ENERGÉTICO</p>
              <span>+</span>
            </button>
            <div class="panel">
              <ul class="column listPanel">
                <li>Limitador de energía con apertura en agua fría
                </li>
                <li>Cartucho a doble posición con limitador de caudal 50%
                </li>
                <li>Aireador anticalcáreo M 24 x 1
                </li>
                <li>Aireador 5 l/min incluido en el paquete
                </li>
                <li>Desagüe 1 1/4”
                </li>
                <li>Flexibles inox de conexión ø 3/8”</li>
              </ul>
            </div>
          </div>
          <div>
            <button class="accordion">
              <p>REPUESTOS</p>
              <span id="toggleOpenAccordion">+</span>
            </button>
            <div class="panel">
              <div class="panelWrap">
                <div class="rowCenter">
                  <img src="/content/images/modelo/20-years.png" alt="">
                  <p class="column">CARTRIDGE <span>WARRANTY</span></p>
                </div>
                <div class="rowCenter">
                  <img src="/content/images/modelo/deco.png" alt="">
                  <p>RCR280/DECO</p>
                </div>
                <div class="rowCenter">
                  <img src="/content/images/modelo/areatore.png" alt="">
                  <p>RAEK222/27</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="accordion">
              <p>DESCARGAR</p>
              <span>+</span>
            </button>
            <div class="panel descargar">
              <div>
                <p>Instrucciones</p>
                <div class="bgContain iconDescargar"></div>
              </div>
              <div>
                <p>Ficha técnica</p>
                <div class="bgContain iconDescargar"></div>
              </div>
              <div>
                <p>Imagen en alta resolución</p>
                <div class="bgContain iconDescargar"></div>
              </div>
            </div>
          </div>
          <div class="dondeComprar">
            <a href="#">Dónde comprar</a>
            <div class="bgContain iconDonde"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/modelo.js"></script>
</body>

</html>