<!DOCTYPE html>
<html lang="es">

<head>
	<base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><!--cod--> | <!--des--> | Línea <!--prd_des-->, Nobili</title>
  <meta name="description" content="Conoce el <!--prd_des--> <!--cod--> de Nobili, diseñado para <!--tip_des-->. Calidad, diseño y funcionalidad en cada detalle. Perfecto para tu proyecto de <!--tip_des-->.">
  <meta name="keywords"
    content="<!--cod-->, <!--prd_des-->, grifería <!--tip_des-->, grifos <!--tip_des-->, grifería de alta calidad, grifos Nobili, grifos de diseño, <!--prd_des--> para <!--tip_des-->.">
  <!--head-->
  <link rel="stylesheet" href="/content/css/modelo.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="modelo">
      <div id="grifoPrincipal" class="grifoMuestra">
        <img src="/images/<!--img-->" alt="Grifo Muestra">
      </div>
      <div class="muestraInfo column">
        <article>
          <div class="headMuestra column">
            <p><!--tip_des-->, <!--prd_des--></p>
            <h1><!--cod--></h1>
          </div>
          <img id="grifoPrincipalMobile" class="grifoMuestraMobile"
            src="/images/<!--img-->" alt="Grifo Muestra">
          <div class="acabado" style="display:<!--mostraracabado-->;">
            <div class="nombre column">
              <p>Acabado</p>
              <p id="nombreAcabado"><!--acb_des--></p>
            </div>
            <div class="opcionesColores">
            <!--acabado-->
              <div class="bordeColor" data-color="<!--des-->" data-image="/images/<!--img-->" data-selected="<!--selected-->">
                <a href="/<!--codlimpio-->.html">
                  <div class="circuloColor"
                  style="background-image: url('/images/<!--img-->');">
                  </div>
                </a>
              </div>
              <!--finacabado-->
            </div>
          </div>
        </article>
        <div class="accordionsContainer">
          <div>
            <button class="accordion">
              <p><!--des--></p>
              <span>+</span>
            </button>
            <div class="panel">
              <ul class="column listPanel">
                <!--txt_obs-->
              </ul>
            </div>
          </div>
          <div style="display:<!--mostrarrepuestos-->;">
            <button class="accordion">
              <p>REPUESTOS</p>
              <span id="toggleOpenAccordion">+</span>
            </button>
            <div class="panel">
              <div class="panelWrap">
                <!--repuesto-->
                <div class="rowCenter">
                  <img src="/images/<!--img-->" alt="<!--id-->">
                  <p class="column"><!--des--></p>
                </div>
                <!--finrepuesto-->
              </div>
            </div>
          </div>
          <div>
            <button class="accordion">
              <p>DESCARGAR</p>
              <span>+</span>
            </button>
            <div class="panel descargar">
              <div style="display:<!--mostrarins-->;">
                <p>Instrucciones</p>
                <a href="files/<!--fil_ins-->" download>
                  <div class="bgContain iconDescargar"></div>
                </a>
              </div>
              <div style="display:<!--mostrarfic-->;">
                <p>Ficha técnica</p>
                <a href="files/<!--fil_fic-->" download>
                  <div class="bgContain iconDescargar"></div>
                </a>
              </div>
              <div  style="display:<!--mostraraltres-->;">
                <p>Imagen en alta resolución</p>
                <a href="files/<!--fil_alt_res-->" download>
                  <div class="bgContain iconDescargar"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="dondeComprar">
            <a href="/donde-comprar.html" target="_blank">Dónde comprar</a>
            <div class="bgContain iconDonde"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/modelo.js"></script>
</body>

</html>
