<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><!--tit_sec--> - Diseño e Innovación en Grifería de <!--tipdes--> | Nobili </title>
  <meta name="description" content="Descubre <!--tit_sec--> de Nobili. Grifería premium que combina diseño, innovación y calidad para mejorar tu <!--tipdes-->. ¡Explora más aquí!">
  <meta name="keywords"
    content="<!--tit_sec-->, grifería de alta calidad, grifos para baños, grifos para cocinas, diseño de grifería, grifos modernos, grifería Nobili, productos de grifería, innovación en grifería.">
  <!--head-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/producto.css">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

</head>

<body>
  <!--header-->
  <main class="w-100 bg-white">
    <section class="heroLineaProducto bgCover column" style="background-image: url('/images/<!--img_ppl-->');">
      <a href="/productos.html?tipo=<!--tip-->">
        <!--tipdes-->
      </a>
      <div>
        <h1>
          <!--tit-->
        </h1>
        <p>
          <!--tit_sec-->
        </p>
      </div>
    </section>
    <section class="modelos columnAlignCenter">
      <p class="text-center text-black">
        <!--txt_obs-->
      </p>
      <div id="modelos" class="containerProductos">
        <div>
          <img id="imagenProducto" class="imagenProducto" src="" alt="">
        </div>
        <div class="opcionesColores">
          <!--acabado-->
          <div id="<!--cod-->" class="bordeColor" data-color="<!--cod-->" data-selected="<!--selected-->"
            onclick="acabadoSelected='<!--cod-->' ;ajustarImagen();">
            <div class="circuloColor" style="background-image: url('/images/<!--img-->');"></div>
          </div>
          <p class="colorName"><!--des--></p>
          <!--finacabado-->
        </div>
      </div>

      <div id="opcionesModelos" class="opcionesModelos">
        <!--modelo-->
        <!--losarticulos-->
        <!--finmodelo-->
      </div>

      <button class="todosModelos" onclick="mostrarTodos();">TODOS LOS MODELOS</button>

      <div class="swiper">
        <div id="swiperWrapper" class="swiper-wrapper">
          <!--slide-->
          <div class="swiper-slide">
            <img src="/images/<!--img-->" alt="<!--des-->" />
          </div>
          <!--finslide-->
        </div>
        <div class="swiper-scrollbar"></div>
      </div>

      <!--parte-->
      <div class="caracteristica">
        <img id="imagenParte<!--id-->" class="imgCaracteristica" src="/images/<!--img-->" alt="<!--des-->" width="658" height="370">
      	<script>
      		if ("<!--img-->" == "") {
      			$('#imagenParte<!--id-->').hide() ;
      		}
      	</script>
        <h2>
          <!--des-->
        </h2>
        <p>
          <!--txt_obs-->
        </p>
      </div>
      <!--finparte-->

      <img class="grifosNobili" src="/content/images/producto/fonderia.webp"
        alt="Griferias Nobili en Dorado">
      <div class="caracteristica">
        <h2><!--tit_ult--></h2>
        <p>
          <!--txt_ult-->
        </p>
        <a class="verModelos" href="#opcionesModelos">VER TODOS LOS MODELOS</a>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/producto.js"></script>
  <script>
    var acabadoSelected = "<!--acabadoDefault-->" ;
    var cuantosMostrar = 3; // despues segun el ancho del dispositivo podria bajar a 2

    if (screen.width < 768) {
      cuantosMostrar = 2;
    }

    function ajustarImagen() {
      var elArticulo = $('[data-acb="' + acabadoSelected + '"]');
      $('.bordeColor').data('selected', false);
      $('.bordeColor [data-color="' + acabadoSelected + '"]').data('selected', true);
      var imagenArticulo = $(elArticulo[0]).find('img'); // el primero con este acabado
      imagenProducto.src = imagenArticulo[0].src;
      imagenProducto.alt = imagenArticulo[0].alt;
      $('.articulo').hide(); // oculto todos
	var i = 1;
	var mostrados = 0 ;
	var maximo = $('[data-acb="' + acabadoSelected + '"]').length + $('[data-acb="0"]').length ;
	while (mostrados < cuantosMostrar && mostrados < maximo) {
	if ($('[data-mostrar="' + i + '"][data-acb="' + acabadoSelected + '"]').length > 0)
		{
	        $('[data-mostrar="' + i + '"][data-acb="' + acabadoSelected + '"]').show();
		mostrados++ ;
		}
	i++ ;
      	}
      	if (maximo > mostrados) {
	      $(".todosModelos").show();
	   } else {
	      $(".todosModelos").hide();
	  }
    }

    function mostrarTodos() {
      $('[data-acb="' + acabadoSelected + '"]').show();
      $('[data-acb="0"]').show();
      $(".todosModelos").hide();
    }

    ajustarImagen();
  </script>
</body>

</html>

<!--articulo-->
<a class="modelo column articulo no-underline" alt="<!--cod-->" data-mostrar="<!--n-->" data-acb="<!--acb-->" href="/<!--codlimpio-->.html">
  <div class="imgArticulo">
    <img src="/images/<!--img-->" alt="<!--des-->" width="190" height="160">
  </div>
  <div class="detalle">
    <p>
      <!--cod-->
    </p>
    <p>
      <!--des-->
    </p>
    <div class="opcionesColores" style="display:<!--mostraracabado-->;">
      <div class="bordeColorArticulo" data-selected="true">
        <div class="circuloColor" style="background-image: url('/images/<!--imgacb-->');">
        </div>
      </div>
      <p><!--desacb--></p>
    </div>
  </div>
</a>
<!--finarticulo-->
