<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link rel="stylesheet" href="/content/css/productos.css">
</head>

<body>
  <!--header-->
  <main class="w-100 bg-white">
    <div class="filterContainer justifyAlignCenter text-center">
      <!--tipoproducto-->
        <button class="filterButton" onclick="filtrarProductos('<!--cod-->')"><!--des--></button>
      <!--fintipoproducto-->
    </div>
    <div id="productList" class="productList">
      <!--producto-->
        <a href="/cgi-bin/nbproducto.pl?id=<!--id-->" data-tipo="<!--tip-->" class="productItem columnAlignCenter text-center">
          <img src="/images/<!--img-->" alt="<!--nom-->" />
          <p><!--nom--></p>
          <p><!--dis--></p>
        </a>
      <!--finproducto-->
    </div>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/productos.js"></script>
</body>

</html>