<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FCB716" />
  <title>Nobili</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <meta name="author" content="Benteveo">
  <meta property="og:image" content="http://www.themezinho.net/unicord/preview.png">
  <meta property="og:site_name" content="Benteveo">
  <meta property="og:type" content="website">
  <!--head-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/producto.css">
</head>

<body>
  <!--header-->
  <main class="w-100 bg-white">
    <section class="heroLineaProducto bgCover column" style="background-image: url(" /images/<!--img_ppl-->");">
      <a href="#">
        <!--tipdes-->
      </a>
      <div>
        <h1>
          <!--tit-->>
        </h1>
        <p>
          <!--tit_sec-->
        </p>
      </div>
    </section>
    <section class="modelos columnAlignCenter">
      <p class="text-center text-black">
        <!--txt_obs-->
      </p>
      <div id="opcionesModelos" class="containerProductos">
        <!--articulo-->
        <img id="imagenProducto" class="imagenProducto" src="/images/<!--img-->" alt="">
        <!--finarticulo-->
        <div class="opcionesColores">
          <!--acabados-->
          <div class="bordeColor" data-color="<!--des-->" data-image="<!--id-->" data-selected="true">
            <div class="circuloColor" style="background-image: url(" /images/<!--img-->");"">
            </div>
          </div>
          <!--finacabados-->
        </div>
        <p id="colorName">
          <!--des-->
        </p>
      </div>
      </div>
      <div class="opcionesModelos">
        <!--modelos-->
        <article class="modelo column">
          <img id="<!--id-->" alt="<!--des-->">
          <div class="detalle">
            <p>
              <!--cod-->
            </p>
            <p>
              <!--tit-->
            </p>
            <div class="detalleColor rowCenter">
              <img src="/content/images/lineaProducto/cromoEjemplo.png" alt="">
              <p>
                <!--acbdes-->
              </p>
            </div>
          </div>
        </article>
        <!--finmodelos-->
      </div>
      <button class="todosModelos">TODOS LOS MODELOS</button>
      <div class="swiper">
        <div id="swiperWrapper" class="swiper-wrapper">
          <!--slide-->
          <div class="swiper-slide">
            <img src="/content/images/<!--img-->" alt="<!--des-->" />
          </div>
          <!--finslide-->
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
      <!--partes-->
      <div class="caracteristica">
        <img class="imgCaracteristica" src="/images/<!--img-->" alt="<!--des-->">
        <h2>
          <!--des-->
        </h2>
        <p>
          <!--txt_obs-->
        </p>
      </div>
      <!--finpartes-->
      <img class="grifosNobili" src="/content/images/lineaProducto/griferias-nobili.png" alt="Griferias Nobili en Dorado">
      <div class="caracteristica">
        <h2>MADE IN NOBILI</h2>
        <p>
          Abc nace del procesamiento de bloques de latón dentro del avanzado departamento de fundición a baja presión
          del Nobili Technology Centre, el complejo más eficiente de todo el sector, concebido para admitir un
          crecimiento constante y ofrecer al mercado un estándar de alta calidad con un impacto medioambiental muy bajo.
        </p>
        <a class="verModelos" href="#opcionesModelos">VER TODOS LOS MODELOS</a>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/producto.js"></script>
</body>

</html>