<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#FCB716" />
  <!-- CAMBIAR SEO -->
  <title>Benteveo</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <!--head-->
  <link rel="stylesheet" href="/content/css/somos.css">
</head>

<body>
  <!-- REVISAR LOADERS -->
  <div class="preloader">
    <div class="inner">
      <div class="loader">
        <div class="trackbar">
          <div class="loadbar"></div>
        </div>
      </div>
      <div class="holder"> <span class="typewriter" id="typewriter"></span> </div>
    </div>
  </div>
  <div class="transition-overlay">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
  </div>
  <!--header-->
  <!-- Hero -->
  <header class="header headerSomos">
    <div class="hero">
      <h1>
        UN EQUIPO, UNA VISIÓN
      </h1>
      <p class="heroPSomos">La creatividad como herramienta para construir conexiones potentes.</p>
    </div>
    <!-- SOCIAL MEDIA -->
    <!-- LINKS -->
    <ul class="social-media">
      <li><a href="https://www.facebook.com/BenteveoCoworkers/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/benteveo_coworkers/" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
      <li><a href="https://vimeo.com/benteveo" target="_blank"><i class="fa fa-vimeo"></i></a></li>
      <li><a href="https://www.linkedin.com/company/benteveo/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div class="scroll-down"><b>DESLIZÁ</b><span></span></div>
  </header>
  <div class="header-spacing"></div>
  <!-- MAIN CONTENT -->
  <main>
    <!-- Introduction -->
    <section class="introduction">
      <div class="introductionRow row">
        <div>
          <h2>Modelo <span>AGENCIA - PRODUCTORA</span> </h2>
          <p>Lo pensamos, les metemos estrategia, corazón y convertimos las ideas en algo real...</p>
        </div>
        <div class="introductionContent">
          <p>
            Nosotros nos encargamos. Abarcamos todo lo que una marca necesita para la comunicación de sus productos o
            servicios.
          </p>
          <p>
            Integramos las áreas del marketing y la producción; desde la estrategia y la creatividad hasta la
            ejecución. Simplificando el proceso y brindando una solución integral.
          </p>
        </div>
      </div>
    </section>
    <!-- Nuestro Equipo -->
    <section class="our-team">
      <div class="swiperEquipo">
        <div id="nuestroEquipo" class="swiper-wrapper"></div>
      </div>
    </section>
    <!-- Premios Sectores -->
    <section class="listing-content">
      <div class="premiosSectores row">
        <div class="premios">
          <div>
            <h3>Premios</h3>
          </div>
          <div>
            <ul id="listaPremios"></ul>
          </div>
        </div>
        <div class="sectores">
          <div>
            <h3>Sectores</h3>
          </div>
          <div>
            <ul id="listaSectores"></ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Capacidades -->
    <section class="features-content">
      <div class="row justify-content-center text-center">
        <div>
          <h2>NUESTRAS CAPACIDADES</h2>
          <p class="capacidadesSubtitle">
            La creatividad puesta al servicio de una estrategia.
          </p>
        </div>
        <div class="capacidadesContent" id="capacidadesContent"></div>
      </div>
    </section>
    <!-- Nuestro ADN -->
    <section class="nuestroAdn full-media-content">
      <div class="video-bg">
        <video src="/content/img/somos/video-nuestro-adn.mp4" autoplay muted loop></video>
      </div>
      <div class="sides hide-mobile">
      </div>
      <div class="sides inner-content">
        <div class="inner">
          <p class="nuestroAdnSubtitle">NUESTRO ADN</p>
          <h2>EL TRABAJO EN EQUIPO</h2>
          <p>Somos una agencia que trabaja junto al cliente como equipo para hacer que las grandes ideas se hagan
            realidad. <span>JUNTOS podemos todo.</span>
          </p>
          <a href="#">PENSEMOS EN EQUIPO</a>
        </div>
      </div>
    </section>
    <!--footer-->
  </main>
  <!--finbody-->
  <script src="/content/js/somos.js"></script>
</body>

</html>