<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobili Thermotech®: Cartucho Termostático de Alta Tecnología</title>
    <meta name="description"
        content="Descubre el cartucho termostático Nobili Thermotech®, que define nuevos estándares de calidad y velocidad de mezcla para grifería de baño y cocina.">
    <meta name="keywords"
        content="Nobili Thermotech, cartucho termostático, grifería termostática, tecnología Nobili, mezclador termostático, calidad superior">
    <!--head-->
    <link rel="stylesheet" href="/content/css/widd.css">
    <link rel="stylesheet" href="/content/css/widd2020.css">
</head>

<body>
    <!--header-->
    <main class="w-100 bg-white">
        <nav class="navTabs">
            <a href="/vanguardia.html">TECNOLOGÍA</a>
            <a href="/widd.html">WIDD®</a>
            <a href="/widd-2020.html">WIDD® 2020</a>
            <a href="/thermotech.html" class="active">THERMOTECH®</a>
        </nav>
        <section class="heroWidd bgCover column"
            style="background-image: url('/content/images/thermotech/termostatica_header.webp')">
            <div>
                <h1>CARTUCHO TERMOSTÁTICO NOBILI</h1>
                <p>THERMOTECH®</p>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <h2>TEMPERATURA CONTROLADA</h2>
                <p>El cartucho termostático Nobili Thermotech® define unos nuevos estándares de calidad, ya que aumenta
                    la velocidad de mezcla del agua y reduce el tiempo de respuesta a los cambios bruscos de
                    temperatura. Este maravilloso proyecto se realiza utilizando exclusivamente tecnopolímeros de alto
                    rendimiento, que garantizan una gran resistencia a la temperatura.</p>
            </div>
        </section>
        <section class="comparisonSection columnAlignCenter">
            <div class="comparison-container">
                <img src="/content/images/thermotech/35_split_bianco02.webp" alt="Cartucho Thermotech® vista exterior"
                    class="comparison-after">
                <img src="/content/images/thermotech/35_split_bianco01.webp" alt="Cartucho Thermotech® vista interior"
                    class="comparison-before">
                <div class="comparison-slider"></div>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <h2>DENTRO DE LA TECNOLOGÍA TERMOSTÁTICA</h2>
                <p>El componente principal del cartucho termostático Nobili Thermotech® es un elemento de cobre y acero,
                    en cuyo interior se introduce una cera especial, sensible a los cambios de temperatura: su expansión
                    o compresión regula el flujo de agua caliente y fría, determinando así la temperatura del agua
                    suministrada por el mezclador.</p>
            </div>
        </section>
        <section class="countersSection columnAlignCenter">
            <div class="counters">
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="30.5"
                            data-suffix="l/min">0</span></div><span>caudal hasta 3 bar</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="50" data-suffix="bar">0</span>
                    </div><span>resistencia a alta presión</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="25" data-suffix="">0</span>
                    </div><span>componentes del cartucho</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="13" data-suffix="">0</span>
                    </div><span>materiales usados</span>
                </div>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/thermotech/thermotech-smontato.webp"
                    alt="Componentes cartucho Thermotech® desmontado">
                <h2>FIABILIDAD TOTAL</h2>
                <p>Cada componente ha sido diseñado para garantizar un rendimiento técnico óptimo, en absoluta armonía
                    con la mecánica general. El innovador sistema de montaje agiliza las operaciones de mantenimiento:
                    para lavar los filtros basta con desmontar una sola pieza, manteniendo fácilmente inalterado su
                    increíble rendimiento a lo largo de los años.</p>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/widd/widd_plastica.webp" alt="ULTEM™ 2200 - cubierta cartucho Thermotech®">
                <h2>ULTEM™ 2200</h2>
                <p>La cubierta del cartucho Nobili Thermotech® nace en el departamento de moldeo de materiales
                    termoplásticos del Nobili Technology Centre: está hecha de Ultem™ 2200, un polímero plástico con un
                    20 % de fibra de vidrio, lo que le confiere una mayor rigidez al tiempo que mantiene un alto grado
                    de elasticidad y resistencia, utilizado principalmente en producciones quirúrgicas o de alta
                    tecnología.</p>
            </div>
        </section>
        <section class="widdFullSection columnAlignCenter">
            <div class="widdVideoWrapper">
                <video src="/content/images/widd/assemblaggio_cartucce.mp4" autoplay muted loop playsinline></video>
                <button id="reproducirVideoThermotech" class="reproducirVideo">REPRODUCIR</button>
            </div>
            <h2>MADE IN NOBILI</h2>
            <p>Cada cartucho que equipa nuestros productos se fabrica y ensambla en el NIT (Nobili Institute of
                Technology) mediante una maquinaria totalmente robotizada. En cambio, la revisión de cada uno de los
                discos cerámicos la realizan nuestros ingenieros; esto permite mejorar su análisis y evitar que una
                pieza mecánica pueda astillarse.</p>
        </section>
        <div id="videoModalThermotech" class="modal">
            <div class="modal-content">
                <span id="closeModalBtnThermotech" class="close">&times;</span>
                <iframe id="youtubeIframeThermotech" width="560" height="315" src="" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/tecnologia.js"></script>
</body>

</html>