<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobili WIDD® 2020: Innovación y Tecnología en Cartuchos de Grifería</title>
    <meta name="description"
        content="Descubre el cartucho Nobili WIDD® 2020, la evolución tecnológica en grifería. Diseñado con materiales de alta calidad para garantizar máxima fiabilidad y eficiencia.">
    <meta name="keywords"
        content="Nobili WIDD 2020, cartucho grifería, tecnología grifería, innovación Nobili, cartucho mezclador, calidad superior">
    <!--head-->
    <link rel="stylesheet" href="/content/css/widd.css">
    <link rel="stylesheet" href="/content/css/widd2020.css">
</head>

<body>
    <!--header-->
    <main class="w-100 bg-white">
        <nav class="navTabs">
            <a href="/vanguardia.html">TECNOLOGÍA</a>
            <a href="/widd.html">WIDD®</a>
            <a href="/widd-2020.html" class="active">WIDD® 2020</a>
            <a href="/thermotech.html">THERMOTECH®</a>
        </nav>
        <section class="heroWidd bgCover column"
            style="background-image: url('/content/images/widd-2020/widd2020_header.webp')">
            <div>
                <h1>CARTUCHO NOBILI WIDD® 2020</h1>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <h2>TECNOLOGÍA ABSOLUTA</h2>
                <p>De la excelencia de nuestros laboratorios de investigación y desarrollo, nace el cartucho de
                    inmersión total y movimiento axial Nobili Widd®, con un diámetro de 34 mm, capaz de revolucionar la
                    estructura de los mezcladores tradicionales al eliminar el bloque del cartucho lateral y crear una
                    línea extremadamente limpia y estilizada.</p>
            </div>
        </section>
        <section class="countersSection columnAlignCenter">
            <div class="counters">
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="16.7"
                            data-suffix="l/min">0</span></div><span>caudal hasta 3 bar</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="12" data-suffix="nm">0</span>
                    </div><span>rompiendo en torsión</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="56" data-suffix="bar">0</span>
                    </div><span>resistencia a alta presión</span>
                </div>
                <div class="counter">
                    <div class="counter-circle"><span class="counter-value" data-target="13" data-suffix="">0</span>
                    </div><span>componentes del cartucho</span>
                </div>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/widd-2020/widd2020_sezione.webp" alt="Sección interior cartucho WIDD 2020">
                <h2>GARANTÍA DE POR VIDA</h2>
                <p>Características técnicas de última generación: material plástico de Ultem de calidad alimentaria,
                    juntas de silicona también para uso alimentario, discos de cerámica y piezas de movimiento internas
                    de funcionamiento en seco sin depósitos de cal, varilla de accionamiento de latón con centramiento
                    perfectamente ortogonal al macho de aterrajar, apertura en agua fría y golpe de ariete a 50 bar.</p>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/widd-2020/widd2020_manopola1.webp"
                    alt="Mezclador con cartucho WIDD 2020 - puro minimalismo">
                <h2>PURO MINIMALISMO</h2>
                <p>El revolucionario cartucho axial Nobili Widd® 2020 representa un cambio de era en el diseño de
                    grifería, ya que permite la entrada del agua, la regulación del caudal y la temperatura y la salida
                    del agua en el mismo eje, dando vida así a unos mezcladores que se distinguen por sus líneas
                    esenciales y su extremo minimalismo estilístico.</p>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/widd-2020/widd2020_manopola2.webp"
                    alt="Apertura en agua fría cartucho WIDD 2020">
                <h2>APERTURA EN AGUA FRÍA</h2>
                <p>La máxima expresión de investigación tecnológica de todo el sector no puede no ser sostenible. La
                    apertura del suministro directamente con agua fría evita el encendido involuntario de la caldera y
                    la emisión de dióxido de carbono a la atmósfera: para activar el agua caliente, se requiere una
                    acción voluntaria y consciente.</p>
            </div>
        </section>
        <section class="caracteristicasContainer columnAlignCenter">
            <div class="caracteristica">
                <img src="/content/images/widd/widd_plastica.webp" alt="ULTEM™ 2200 - cubierta cartucho WIDD 2020">
                <h2>ULTEM™ 2200</h2>
                <p>La cubierta del cartucho Nobili Widd® 2020 nace en el departamento de moldeo de materiales
                    termoplásticos del Nobili Technology Centre: está hecha de Ultem™ 2200, un polímero plástico con un
                    20 % de fibra de vidrio, lo que le confiere una mayor rigidez al tiempo que mantiene un alto grado
                    de elasticidad y resistencia, utilizado principalmente en producciones quirúrgicas o de alta
                    tecnología.</p>
            </div>
        </section>
        <section class="widdFullSection columnAlignCenter">
            <div class="widdVideoWrapper">
                <video src="/content/images/widd/assemblaggio_cartucce.mp4" autoplay muted loop playsinline></video>
                <button id="reproducirVideoWidd2020" class="reproducirVideo">REPRODUCIR</button>
            </div>
            <h2>MADE IN NOBILI</h2>
            <p>Cada cartucho que equipa nuestros productos se fabrica y ensambla en el NIT (Nobili Institute of Technology) mediante una maquinaria totalmente robotizada. En cambio, la revisión de cada uno de los discos cerámicos la realizan nuestros ingenieros; esto permite mejorar su análisis y evitar que una pieza mecánica pueda estilarse.</p>
        </section>
        <div id="videoModalWidd2020" class="modal">
            <div class="modal-content">
                <span id="closeModalBtnWidd2020" class="close">&times;</span>
                <iframe id="youtubeIframeWidd2020" width="560" height="315" src="" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/tecnologia.js"></script>
</body>

</html>