.dondeComprar {
  gap: 1.25rem;
  background-color: white;
  padding: 5.875rem 1rem 2.5rem 1rem;
}

.dondeComprar h1 {
  font-size: 1.25rem;
}

.dondeComprar .iconDonde {
  width: 0.938rem;
  height: 1.313rem;
  background-image: url("/content/images/modelo/Icon-Donde.svg");
  margin-left: 0.625rem;
}

.accordion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 0.75rem 0;
  cursor: pointer;
}

.accordion p {
  font-size: 0.75rem;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 900;
}

.accordion span {
  font-size: 1.25rem;
}

.panel {
  max-height: 0;
  gap: 1.25rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0;
}

.panel.open {
  max-height: 1000px;
  padding: 0.75rem 0 2rem 0;
}

.panelContent {
  gap: 0.5rem;
}

.panel p {
  font-size: 0.75rem;
  font-weight: 500;
}

.panel .listPanel {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin: 0;
}

.listPanel li {
  line-height: 1.75rem;
  display: list-item;
  list-style-type: inherit;
}

.listPanel li p,
.listPanel li p a{
  font-size: 0.75rem;
  color: var(--color-black);
}

.listPanel li p {
  font-weight: 500;
}

.listPanel li p a{
  font-weight: 400;
}

.listPanel li a:hover{
  color: #757070;
}


@media only screen and (min-width: 660px) {
  .dondeComprar {
    gap: 1.5rem;
    padding: 7.688rem 3.75rem 2.5rem 3.75rem;
  }

  .dondeComprar h1 {
    font-size: 1.375rem;
  }

  .accordion {
    padding: 1rem 0;
  }

  .listPanel li {
    line-height: 2rem;
  }

  .accordion p,
  .panel p,
  .listPanel li p,
  .listPanel li p a {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1080px) {
  .dondeComprar {
    padding: 8.125rem 5.625rem 2.5rem 5.625rem;
  }

  .dondeComprar h1 {
    font-size: 1.5rem;
  }

  .dondeComprar .iconDonde {
    width: 1.063rem;
    height: 1.5rem;
  }

  .accordionsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
  }

  .accordionsContainer>div {
    width: 48%;
  }

  .accordion {
    padding: 1rem 0;
  }

  .accordion p,
  .panel p,
  .listPanel li p,
  .listPanel li p a {
    font-size: 1rem;
  }
}