@font-face {
  font-family: 'Gotham Pro';
  src: url('/content/fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('/content/fonts/GothamPro-Bold'),
    url('/content/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/content/fonts/GothamPro-Bold.woff2') format('woff2'),
    url('/content/fonts/GothamPro-Bold.woff') format('woff'),
    url('/content/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/content/fonts/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('/content/fonts/GothamPro-Medium'),
    url('/content/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/content/fonts/GothamPro-Medium.woff2') format('woff2'),
    url('/content/fonts/GothamPro-Medium.woff') format('woff'),
    url('/content/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/content/fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('/content/fonts/GothamPro'),
    url('/content/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('/content/fonts/GothamPro.woff2') format('woff2'),
    url('/content/fonts/GothamPro.woff') format('woff'),
    url('/content/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}