/* Header */

header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: white;
  transition: background-color 0.3 ease;
}

.hamburger {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 1rem;
  background-image: url("/content/images/header-footer/Hamburger-Black.svg");
  cursor: pointer;
}

.logoNobili {
  width: 4rem;
  height: 1.438rem;
  background-image: url("/content/images/header-footer/logo-nobili-negro.webp");
}

/* Nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  padding: 0 1rem;
}

.nav.open {
  height: 100%;
  overflow: hidden;
  padding: 3.125rem 1rem;
}

.closeNav {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/content/images/header-footer/Close-Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}

body.nav-open {
  overflow: hidden;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 2rem;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.miniMenu {
  gap: 0.9rem;
}

.miniMenu li a {
  font-size: 0.875rem;
  transition: opacity 0.3s ease;
}

.navMenu .faded:not(:hover),
.miniMenu .faded:not(:hover) {
  opacity: 0.3;
}

/* Footer */

footer {
  position: relative;
  background-color: #1A1A1A;
}

footer .footerTop {
  gap: 2.5rem;
  padding: 3.75rem 1rem;
}

.logosFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

footer .footerTop img:first-of-type {
  width: 6rem;
}

footer .footerTop img {
  width: 5rem;
}

.footerMenu {
  gap: 0.625rem;
}

.footerMenu li a {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 0.625rem;
  transition: all 0.3s ease;
}

.footerMenu li a:hover {
  color: white;
  text-decoration: underline;
}

.accordionItem {
  border-top: 1px solid #FFFFFF80;
  border-bottom: 1px solid #FFFFFF80;
  padding: 1rem;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordionHeader p,
.accordionContent p {
  font-size: 0.625rem;
  color: #b3b3b3;
  font-weight: 500;
}

.accordionIcon {
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordionContent p {
  line-height: 18px;
}

.accordionItem.open .accordionContent {
  max-height: 300px;
  padding: 1rem 0;
}

.accordionItem.open .accordionIcon {
  transform: rotate(45deg);
}

.footerRedesContainer {
  padding: 3.75rem 1rem;
}

.redesFooter {
  gap: 0.625rem;
}

.iconRed {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.facebookIcon {
  background-image: url("/content/images/header-footer/Facebook-Icon.svg");
}

.instagramIcon {
  background-image: url("/content/images/header-footer/Instagram-Icon.svg");
}

.pinterestIcon {
  background-image: url("/content/images/header-footer/Pinterest-Icon.svg");
}

.youtubeIcon {
  background-image: url("/content/images/header-footer/Youtube-Icon.svg");
}

.linkedInIcon {
  background-image: url("/content/images/header-footer/LinkedIn-Icon.svg");
}

/* Tablet */
@media only screen and (min-width: 660px) {

  /* Header */
  .header {
    padding: 1.5rem 3.75rem;
  }

  .logoNobili {
    width: 7rem;
    height: 2.625rem;
  }

  .hamburger {
    width: 1.875rem;
    left: 3.75rem;
  }

  .nav.open {
    padding: 3.125rem 3.75rem;
  }

  /* Footer */

  footer .footerTop {
    padding: 3.75rem;
  }

  .logosFooter {
    flex-direction: row;
    gap: 1rem;
  }

  .accordionItem {
    padding: 1rem 3.75rem;
  }

  .footerRedesContainer {
    padding: 3.75rem;
  }
}

@media only screen and (min-width: 770px) {
  .navMenu li a {
    font-size: 1.85rem;
  }

  .miniMenu li a {
    font-size: 1rem;
  }

  .footerMenu li a,
  .accordionHeader p,
  .accordionContent p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 900px) {
  .navMenu li a {
    font-size: 2rem;
  }

  .miniMenu li a {
    font-size: 1rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1080px) {
  /* Header */

  .header {
    padding: 1.5rem 5.625rem;
  }

  .hamburger {
    left: 5.625rem;
  }

  .navMenu li a {
    font-size: 2.25rem;
  }

  .miniMenu li a {
    font-size: 1.25rem;
  }

  /* Footer */

  footer .footerTop {
    align-items: center;
    gap: 1.25rem;
    padding: 2.5rem 0;
  }

  .logosFooter {
    gap: 2rem;
  }

  .footerMenu {
    flex-direction: row;
    gap: 3.75rem;
  }

  .footerMenu li a {
    font-size: 0.75rem;
  }

  .accordionItem {
    display: flex;
    justify-content: center;
    border: none;
    padding: 1.25rem 3.75rem 0 3.75rem;
  }

  .accordionHeader {
    display: none;
  }

  .accordionContent {
    max-width: 800px;
    max-height: 100%;
    text-align: center;
    line-height: 18px;
  }

  .accordionContent p {
    font-size: 0.75rem;
  }

  .redesFooter {
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  .navMenu li a {
    font-size: 2.5rem;
  }

  .miniMenu li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .navMenu li a {
    font-size: 2.675rem;
  }

  .miniMenu li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1650px) {

  .footerMenu li a,
  .accordionHeader p,
  .accordionContent p {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1750px) {
  .miniMenu li a {
    font-size: 1.125rem;
  }
}