/* Header Home */

header {
  background-color: #4A3929;
}

.logoNobili {
  background-image: url("/content/images/header-footer/logo-nobili-blanco.webp");
}

.hamburger {
  background-image: url("/content/images/header-footer/Hamburger-White.svg");
}

/* Main */

main {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 22.97px;
  font-weight: normal;
}

.content {
  position: relative;
  z-index: 10;
  gap: 1.25rem;
  padding: 0 1rem;
}

/* Hero */

.heroBg {
  background-color: #6A4C30;
}

.content p {
  width: 80%;
  font-size: 0.75rem;
  line-height: 18px;
}

.btnInfo {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/content/images/home/Info-Button.svg");
}

.masInfo {
  gap: 1rem;
}

.masInfo p {
  font-size: 0.625rem;
}

.scroll {
  display: none;
}

/* Sections */

.section1 {
  background-color: #252525;
}

.section2 {
  background-color: #798D7F;
}

.section3 {
  background-color: #1A1A1A;
}

@keyframes elasticus {
  0% {
    transform-origin: 0 0;
    transform: scale(1, 0);
  }

  50% {
    transform-origin: 0 0;
    transform: scale(1, 1);
  }

  50.1% {
    transform-origin: 0 100%;
    transform: scale(1, 1);
  }

  100% {
    transform-origin: 0 100%;
    transform: scale(1, 0);
  }
}

@media only screen and (min-width: 480px) {

  h1,
  h2 {
    font-size: 1.65rem;
  }

  .content p {
    font-size: 0.875rem;
  }

  .masInfo p {
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 580px) {

  h1,
  h2 {
    font-size: 1.75rem;
  }
}

/* Tablet */
@media only screen and (min-width: 660px) {
  /* Generales */

  h1,
  h2 {
    font-size: 1.75rem;
    line-height: 26.8px;
  }

  .content {
    padding: 0 3.75rem;
  }

  .content p {
    width: 60%;
    font-size: 0.875rem;
  }

  .masInfo p {
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 770px) {
  h1,
  h2 {
    font-size: 1.875rem;
  }

  .content p {
    font-size: 1rem;
  }

  .masInfo p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 900px) {
  h1,
  h2 {
    font-size: 2.125rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1080px) {

  /* Generales */

  .reversed {
    max-width: 500px;
    align-self: flex-end;
  }

  section .reversed p {
    width: 100%;
  }

  h1,
  h2 {
    font-size: 3rem;
    line-height: 45.94px;
  }

  .content {
    gap: 2rem;
    padding: 0 5.625rem;
  }

  .content p {
    width: 45%;
    font-size: 1rem;
  }

  .masInfo p {
    font-size: 0.75rem;
  }

  .scroll {
    width: 1px;
    height: 65px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 7.75rem;
    z-index: 3;
    margin: 0 auto;
  }

  .scroll b {
    width: 100px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
  }

  .scroll span {
    display: block;
    /* position: relative; */
    text-align: center;
  }

  .scroll span::before {
    -webkit-animation: elasticus 1.7s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: elasticus 1.7s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: elasticus 1.7s cubic-bezier(1, 0, 0, 1) infinite;
    animation: elasticus 1.7s cubic-bezier(1, 0, 0, 1) infinite;
  }

  .scroll span::before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 2px;
    height: 40px;
    background: #fff;
    content: "";
  }
}

@media only screen and (min-width: 1280px) {
  h1, h2 {
    font-size: 2.675rem;
  }

  .reversed {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1440px) {
  h1, h2 {
    font-size: 2.875rem;
  }

  .content {
    gap: 3rem;
  }

  .reversed {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1650px) {
  .reversed {
    max-width: 850px;
  }
  
  .content p {
    font-size: 1.125rem;
  }

  .masInfo p {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1750px) {
  .reversed {
    max-width: 950px;
  }
}