main {
  box-sizing: border-box;
}

/* Hero */

.heroLineaProducto {
  height: 30rem;
  justify-content: flex-end;
  gap: 0.625rem;
  background-color: #798D7F;
  color: white;
  padding: 1rem 1rem 1.875rem 1rem;
}

.heroLineaProducto a {
  text-decoration: none;
  color: white;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 9.57px;
}

.heroLineaProducto h1 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 0.625rem;
}

.heroLineaProducto p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 17.23px;
}

/* Modelos */

.modelos {
  gap: 3.5rem;
  padding: 3.5rem 1rem;
}

.modelos>p:first-of-type {
  font-size: 1.125rem;
  line-height: 18px;
}

/* Colores */
.containerProductos {
  width: 100%;
  text-align: center;
}

.imagenProducto {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.opcionesColores {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.bordeColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid transparent;
  padding: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.circuloColor {
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.bordeColor[data-selected="true"] {
  border-color: #1a1a1a;
}

#colorName {
  margin-top: 0.5rem;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(5px);
}

#colorName.show {
  opacity: 1;
  transform: translateY(0);
}

/* Opciones Modelos */

.opcionesModelos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.modelo {
  width: 45%;
  gap: 1.25rem;
}

.modelo>img {
  width: 5.4rem;
}

.detalle p:first-child {
  color: var(--color-black);
  margin-bottom: 0.625rem;
}

.detalle p {
  color: #1A1A1A66;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 11.48px;
  margin-bottom: 0.875rem;
}

.detalleColor {
  gap: 0.625rem;
}

.detalleColor img {
  width: 1rem;
  height: 1rem;
}

.detalle .detalleColor p {
  color: var(--color-black);
  font-size: 0.625rem;
  line-height: 9.57px;
  margin-bottom: 0;
}

.todosModelos {
  position: relative;
  background-color: var(--color-black);
  border: none;
  color: var(--color-white);
  font-size: 0.625rem;
  font-family: 'Gotham Pro', sans-serif;
  line-height: 9.57px;
  cursor: pointer;
  padding: 1rem 2.375rem 1rem 0.75rem;
}

.todosModelos::after {
  content: "";
  width: 1rem;
  height: 0.75rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background-image: url("/content/images/lineaProducto/Icon-Flecha.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 225px;
}

.swiper-slide {
  width: auto;
}

.swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.swiper-slide {
  padding-bottom: 3.5rem;
}

/* Caracteristicas */

.caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caracteristica h2 {
  text-align: center;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 18px;
  margin-bottom: 1.25rem;
}

.caracteristica p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 18px;
}

.caracteristica img {
  width: 100%;
  margin-bottom: 3.125rem;
}

.grifosNobili {
  width: 100%;
}

.verModelos {
  background-color: var(--color-black);
  border: none;
  color: var(--color-white);
  font-size: 0.625rem;
  font-family: 'Gotham Pro', sans-serif;
  line-height: 9.57px;
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem;
  margin-top: 1.5rem;
}

/* Tablet */
@media only screen and (min-width: 660px) {
  .heroLineaProducto {
    height: 35rem;
    padding: 3.125rem 3.75rem;
  }
  
  .heroLineaProducto h1 {
    font-size: 1.5rem;
  }

  .heroLineaProducto p {
    font-size: 1.25rem;
    line-height: 19px;
  }

  .modelos {
    padding: 3.5rem 3.75rem;
  }

  .modelos>p:first-of-type {
    font-size: 0.875rem;
  }

  .opcionesModelos {
    gap: 1.75rem;
  }

  .modelo>img {
    width: 9.375rem;
  }

  .caracteristica h2 {
    font-size: 1.125rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1080px) {
  /* Hero */
  
  .heroLineaProducto {
    justify-content: space-between;
    padding: 3.125rem 5.625rem;
  }

  .heroLineaProducto a {
    font-size: 0.75rem;
    line-height: 11.48px;
  }
  
  .heroLineaProducto h1 {
    font-size: 1.875rem;
    line-height: 28.71px;
    margin-bottom: 1.25rem;
  }

  .heroLineaProducto p {
    font-size: 1.375rem;
    line-height: 21.05px;
  }

  /* Modelos */
  .modelos {
    gap: 6.25rem;
    padding: 6.25rem 5.625rem;
  }

  .modelos>p:first-of-type {
    font-size: 1rem;
  }

  /* Opciones Modelos */
  .opcionesModelos {
    gap: 4.125rem;
  }

  .modelo {
    width: 28.3%;
  }

  .detalle p:first-child, .detalle p {
    font-size: 0.875rem;
    line-height: 13.4px;
  }

  .detalle .detalleColor p {
    font-size: 0.75rem;
    line-height: 11.48px;
  }

  .todosModelos, .verModelos {
    font-size: 0.75rem;
    line-height: 11.48px ;
  }

  /* Caracteristicas */
  .caracteristica p {
    font-size: 1rem;
  }
}