/* Estilos Generales */

:root {
  --color-white: #FFF;
  --color-black: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  position: relative;
  font-family: 'Gotham Pro', sans-serif;
  font-display: swap;
  overflow-x: hidden;
  background-color: #1A1A1A;
  scroll-behavior: smooth;
}

/* Width & Height */

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-100vh {
  height: 100vh !important;
}

/* Flex */

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

/* Backgrounds & Fonts */

.bgContain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgCover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-white {
  background-color: var(--color-white);
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.font-weight-bold{
  font-weight: bold;
}

.no-underline {
  text-decoration: none;
}

/* Spacing */

.pa-1 {
  padding: 1rem;
}

/* Errors */

.error {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.errorIcon {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("/content/images/landingEvento/Icon-Error.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.error p {
  text-align: start;
  color: #F50000;
  font-size: 0.75rem;
  line-height: 16.44px;
}

/* Scroll */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media only screen and (min-width: 1930px) {

  header,
  nav .maxWidth,
  main,
  footer {
    max-width: 1920px;
    margin: 0 auto;
  }

  nav .maxWidth {
    width: 100%;
  }
}