/* Estilos Generales */

:root {
  --color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  position: relative;
  font-family: 'Gotham Pro', sans-serif;
  overflow-x: hidden;
  background-color: #1A1A1A;
  scroll-behavior: smooth;
}

/* Clases */

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-100vh {
  height: 100vh !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

.bgContain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text-white {
  color: var(--color-white);
}

.pa-1 {
  padding: 1rem;
}

/* Scroll */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.7s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media only screen and (min-width: 1930px) {

  header,
  nav .maxWidth,
  main,
  footer {
    max-width: 1920px;
    margin: 0 auto;
  }

  nav .maxWidth {
    width: 100%;
  }
}