/* Estilos Generales */

:root {
  --color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
  position: relative;
}

/* Clases */

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-100vh {
  height: 100vh !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

.bgContain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text-white {
  color: var(--color-white);
}

.pa-1 {
  padding: 1rem;
}

/* Header */

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #362D25;
}

.hamburger {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 1rem;
  background-image: url("/content/images/Hamburger.svg");
  cursor: pointer;
}

header img {
  width: 6.25rem;
}

/* Nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  padding: 0 1rem;
}

.nav.open {
  height: 100%;
  overflow: hidden;
  padding: 3.125rem 1rem;
}

.closeNav {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/content/images/Close-Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}

body.nav-open {
  overflow: hidden;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 2rem;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.miniMenu {
  gap: 0.9rem;
}

.miniMenu li a {
  font-size: 0.875rem;
}

/* Main */

h1,
h2 {
  font-size: 1.5rem;
  line-height: 22.97px;
}

.content {
  position: relative;
  z-index: 10;
  gap: 1.25rem;
  padding: 0 1rem;
}

/* Hero */

.heroBg {
  background-color: #6A4C30;
}

.content p {
  width: 80%;
  font-size: 0.75rem;
  line-height: 18px;
}

.btnInfo {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/content/images/Info-Button.svg");
}

.masInfo {
  gap: 1rem;
}

/* Sections */

.section1 {
  background-color: #252525;
}

.section2 {
  background-color: #798D7F;
}

.section3 {
  background-color: #1A1A1A;
}

/* Footer */

footer {
  background-color: #1A1A1A;
}

.footerTop {
  gap: 2.5rem;
  padding: 3.75rem 1rem;
}

.logosFooter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footerTop img:first-of-type {
  width: 12.5rem;
}

.footerTop img {
  width: 7.4rem;
}

.footerMenu {
  gap: 0.625rem;
}

.footerMenu li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.625rem;
}

.accordionItem {
  border-top: 1px solid #FFFFFF80;
  border-bottom: 1px solid #FFFFFF80;
  padding: 1rem;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordionHeader p {
  font-size: 0.625rem;
}

.accordionIcon {
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordionContent p {
  font-size: 0.625rem;
  line-height: 18px;
}

.accordionItem.open .accordionContent {
  max-height: 300px;
  padding: 1rem 0;
}

.accordionItem.open .accordionIcon {
  transform: rotate(45deg);
}

.footerRedesContainer {
  padding: 3.75rem 1rem;
}

.redesFooter {
  gap: 0.625rem;
}

.iconRed {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.facebookIcon {
  background-image: url("/content/images/Facebook-Icon.svg");
}

.instagramIcon {
  background-image: url("/content/images/Instagram-Icon.svg");
}

.pinterestIcon {
  background-image: url("/content/images/Pinterest-Icon.svg");
}

.youtubeIcon {
  background-image: url("/content/images/Youtube-Icon.svg");
}

.linkedInIcon {
  background-image: url("/content/images/LinkedIn-Icon.svg");
}

/* Tablet */
@media only screen and (min-width: 660px) {

  /* Header */
  .header {
    padding: 1.875rem 3.75rem;
  }

  header img {
    width: 11.75rem;
  }

  .hamburger {
    width: 1.875rem;
    left: 3.75rem;
  }

  .nav.open {
    padding: 3.125rem 3.75rem;
  }

  /* Generales */

  h1,
  h2 {
    font-size: 1.75rem;
    line-height: 26.8px;
  }

  .content {
    padding: 0 3.75rem;
  }

  .content p {
    width: 60%;
    font-size: 0.875rem;
  }

  .masInfo p {
    font-size: 0.625rem !important;
  }

  /* Footer */

  .footerTop {
    padding: 3.75rem;
  }

  .logosFooter {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .accordionItem {
    padding: 1rem 3.75rem;
  }

  .footerRedesContainer {
    padding: 3.75rem;
  }
}


/* Tablet */
@media only screen and (min-width: 1080px) {
  /* Header */

  .header {
    padding: 1.875rem 5.625rem;
  }

  .hamburger {
    left: 5.625rem;
  }

  .navMenu li a {
    font-size: 2.25rem;
  }

  .miniMenu li a {
    font-size: 1.25rem;
  }

  /* Generales */

  h1,
  h2 {
    font-size: 3rem;
    line-height: 45.94px;
  }

  .content {
    padding: 0 5.625rem;
  }

  .content p {
    width: 50%;
    font-size: 1rem;
  }

  .masInfo p {
    font-size: 0.75rem !important;
  }

  /* Footer */

  .footerTop {
    align-items: center;
    gap: 1.25rem;
    padding: 2.5rem 0;
  }

  .logosFooter {
    gap: 2rem;
  }

  .footerMenu {
    flex-direction: row;
    gap: 3.75rem;
  }

  .footerMenu li a {
    font-size: 0.75rem;
  }

  .accordionItem {
    display: flex;
    justify-content: center;
    border: none;
    padding: 1.25rem 3.75rem 0 3.75rem;
  }

  .accordionHeader {
    display: none;
  }

  .accordionContent {
    max-width: 800px;
    max-height: 100%;
    text-align: center;
    line-height: 18px;
  }

  .accordionContent p {
    font-size: 0.75rem;
  }

  .redesFooter {
    justify-content: center;
  }
}