main {
  box-sizing: border-box;
}

.navTabs {
  width: 100%;
  display: none;
  justify-content: center;
  gap: 2.5rem;
  position: absolute;
  top: 3.375rem;
  left: 0;
  z-index: 9;
  border-bottom: 1px solid #E0E0E0;
  padding: 1rem 3.75rem;
}

.navTabs a {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(26, 26, 26, 0.3);
  text-decoration: none;
  letter-spacing: 0.05em;
  transition: color 0.3s;
}

.navTabs a:hover {
  color: rgba(26, 26, 26, 1);
}

.navTabs a.active {
  color: rgba(26, 26, 26, 1);
  font-weight: 600;
}

.heroWidd {
  height: 90vh;
  justify-content: flex-end;
  gap: 0.625rem;
  color: var(--color-black);
  padding: 1rem 1rem 1.875rem 1rem;
}

.heroWidd h1 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 0.625rem;
}

.heroWidd p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 17.23px;
}

.introSection {
  padding: 3.5rem 1rem;
}

.introSection p {
  color: #1A1A1A;
  font-size: 0.875rem;
  text-align: center;
}

.comparisonSection {
  padding: 0 1rem 3.5rem 1rem;
}

.countersSection {
  gap: 3.5rem;
  padding: 3.5rem 1rem;
}

.caracteristicasContainer {
  width: 100%;
  gap: 3.5rem;
  padding: 3.5rem 1rem;
}

.caracteristica {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caracteristica h2 {
  text-align: center;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 18px;
  margin-bottom: 1.25rem;
}

.caracteristica p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 18px;
}

.caracteristica img {
  width: 100%;
  margin-bottom: 3.125rem;
}

.comparison-container {
  max-width: 600px;
  position: relative;
  overflow: hidden;
  cursor: ew-resize;
}

.comparison-container img {
  width: 100%;
  display: block;
}

.comparison-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 50% 0 0);
}

.comparison-slider {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: var(--color-black);
  z-index: 2;
  cursor: ew-resize;
}

.comparison-slider::after {
  content: '< >';
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-black);
  color: var(--color-white);
  font-size: 0.875rem;
  padding-top: 2px;
  border-radius: 50%;
}

.counters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.counter-circle {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: 50%;
}

.counter-circle .counter-value {
  color: var(--color-white);
  font-size: 1.125rem;
}

.counter > span:last-child {
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-black);
}

@media only screen and (min-width: 660px) {
  .navTabs {
    display: flex;
    top: 4.125rem;
    padding: 1rem 3.75rem;
  }

  .heroWidd {
    padding: 3.125rem 3.75rem;
  }

  .introSection {
    padding: 3.5rem 3.75rem;
  }

  .comparisonSection {
    padding: 0 3.75rem 3.5rem 3.75rem;
  }

  .countersSection {
    padding: 3.5rem 3.75rem;
  }

  .caracteristicasContainer {
    padding: 3.5rem 3.75rem;
  }

  .caracteristica img {
    max-height: 370px;
    width: auto;
  }

  .caracteristicasContainer--wide .caracteristica img {
    max-height: none;
    width: 100%;
  }

  .caracteristica h2 {
    font-size: 1.125rem;
  }

  .counters {
    grid-template-columns: repeat(4, 1fr);
  }

  .heroWidd h1 {
    font-size: 1.5rem;
  }

  .heroWidd p {
    font-size: 1.25rem;
    line-height: 19px;
  }
}

@media only screen and (min-width: 1080px) {
  .navTabs {
    gap: 3.75rem;
    top: 4.625rem;
    padding: 1rem 5.625rem;
  }

  .navTabs a {
    font-size: 0.813rem;
  }

  .heroWidd {
    height: 100vh;
    padding: 6rem 5.625rem 3.125rem 5.625rem;
  }

  .introSection {
    padding: 6.25rem 5.625rem;
  }

  .introSection p {
    max-width: 670px;
    font-size: 1rem;
  }

  .comparisonSection {
    padding: 0 5.625rem 6.25rem 5.625rem;
  }

  .countersSection {
    gap: 6.25rem;
    padding: 6.25rem 5.625rem;
  }

  .caracteristicasContainer {
    gap: 6.25rem;
    padding: 6.25rem 5.625rem;
  }

  .caracteristica {
    max-width: 670px;
  }

  .caracteristica p {
    font-size: 1rem;
  }

  .caracteristicasContainer .caracteristica {
    max-width: 670px;
  }

  .caracteristicasContainer--wide .caracteristica {
    max-width: 900px;
  }

  .caracteristicasContainer--wide .caracteristica img {
    max-height: none;
    width: 100%;
  }

  .counter-circle {
    width: 7.5rem;
    height: 7.5rem;
  }

  .counter-value {
    font-size: 1.375rem;
  }

  .counter {
    gap: 2rem;
  }

  .counter span:last-child {
    font-size: 1rem;
  }

  .heroWidd h1 {
    font-size: 1.875rem;
    line-height: 28.71px;
    margin-bottom: 1.25rem;
  }

  .heroWidd p {
    font-size: 1.375rem;
    line-height: 21.05px;
  }
}

.featureSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 3.5rem 1rem;
}

.featureSection--gray {
  background-color: #FAFAFA;
}

.featureSection--yellow {
  background-color: #F9F172;
}

.featureSection--white {
  background-color: #FFF;
}

.featureSection img {
  width: 100%;
  max-width: 370px;
}

.featureSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.featureSection h2 {
  text-align: center;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 18px;
}

.featureSection p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 18px;
}

@media only screen and (min-width: 660px) {
  .featureSection {
    padding: 3.5rem 3.75rem;
  }
}

@media only screen and (min-width: 1080px) {
  .featureSection {
    flex-direction: row;
    gap: 5rem;
    padding: 6.25rem 5.625rem;
  }

  .featureSection--yellow,
  .featureSection--white {
    flex-direction: row-reverse;
  }

  .featureSection img {
    max-width: 420px;
    flex-shrink: 0;
  }

  .featureSection div {
    align-items: flex-start;
  }

  .featureSection h2,
  .featureSection p {
    text-align: start;
  }

  .featureSection h2 {
    font-size: 1.125rem;
  }

  .featureSection p {
    font-size: 1rem;
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 960px;
  width: 90%;
  position: relative;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  margin: 10% auto;
  padding: 6px;
}

.close {
  position: absolute;
  top: -1.75rem;
  right: -1.25rem;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.modal iframe {
  width: 100%;
  height: 700px;
}

.reproducirVideo {
  width: 6.563rem;
  height: 6.563rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  background: none;
  border: 1px solid white;
  border-radius: 999px;
  color: white;
  font-size: 0.75rem;
  font-family: 'Gotham Pro', sans-serif;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0 auto;
}

.widdFullSection {
  width: 100%;
  gap: 1.875rem;
  padding: 3.5rem 1rem;
}

.widdFullSection img,
.widdVideoWrapper {
  width: 100%;
}

.widdVideoWrapper {
  position: relative;
}

.widdVideoWrapper video {
  width: 100%;
  display: block;
}

.widdFullSection h2 {
  text-align: center;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 18px;
}

.widdFullSection p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 18px;
}

@media only screen and (min-width: 660px) {
  .widdFullSection {
    padding: 3.5rem 3.75rem;
  }

  .modal-content {
    margin: 5% auto;
  }
}

@media only screen and (min-width: 1080px) {
  .widdFullSection {
    gap: 3.125rem;
    padding: 6.25rem 5.625rem;
  }

  .widdFullSection h2 {
    font-size: 1.125rem;
  }

  .widdFullSection p {
    max-width: 670px;
    font-size: 1rem;
  }

  .reproducirVideo {
    width: 8.75rem;
    height: 8.75rem;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1650px) {
  .heroWidd h1 {
    font-size: 2.125rem;
  }

  .heroWidd p {
    font-size: 1.5rem;
  }
}
